<div class="text-center">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @equipo.nombre %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @equipo.zona %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @equipo.ip %>
</p>

<p>
  <strong>Activo:</strong>
  <% if @equipo.activo == 1 %>
  <%= r = "SÃ" %>
  <% else %>
  <%= r = "NO" %>
  <% end %>
</p>
<p>
  <strong>DNS:</strong>
  <%= @equipo.dns %>
</p>
<%= link_to 'Editar', edit_equipo_path(@equipo) , class: 'btn btn-primary' %> 
<%= link_to 'Volver', equipos_path , class: 'btn btn-danger' %>
</div>