<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation" class="errores">
      <h4><b><u>Errores Encontrados</u></b></h4>
      <% @usuario.errors.full_messages.each do |message| %>
        <%= message %><br>
      <% end %>
    </div>
  <% end %>
 
    <div class="field">
      <%= f.label :codigo %><br>
      <%= f.text_field :codigo , class: 'form-control'%>
    </div>
    <div class="field">
      <%= f.label :nombre %><br>
      <%= f.text_field :nombre , class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :apellidos %><br>
      <%= f.text_field :apellidos , class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :dni %><br>
      <%= f.text_field :dni , class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :domicilio %><br>
      <%= f.text_field :domicilio , class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email , class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :centro %><br>
      <%= f.number_field :centro , class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :dentro %><br>
      <div class="radio-inline">
      <%= f.radio_button :dentro , 1 %> SÍ
      </div>
      <div class="radio-inline">
      <%= f.radio_button :dentro , 0 %> NO
      </div>
    </div>
    <div class="field">
      <%= f.label :activo %><br>
      <div class="radio-inline">
      <%= f.radio_button :activo , 1 %> SÍ
      </div>
      <div class="radio-inline">
      <%= f.radio_button :activo , 0 %> NO
    </div>
    <br><br>
    <div class="actions">
      <%= f.submit "Aceptar", class: 'btn btn-default'%>
    </div>
    <br>
<% end %>
