<p id="notice"><%= notice %></p>

<p>
  <strong>IP del dispositivo:</strong>
  <%= @a_serverconfiguration.ipdevice %>
</p>

<p>
  <strong>Máscara de red:</strong>
  <%= @a_serverconfiguration.networkmask %>
</p>

<p>
  <strong>Puerta de enlace:</strong>
  <%= @a_serverconfiguration.gateway %>
</p>

<p>
  <strong>DNS:</strong>
  <%= @a_serverconfiguration.dns1 %>
</p>


<p>
  <strong>Url del servidor:</strong>
  <%= @a_serverconfiguration.url_server %>
</p>

<p>
  <strong>Tiempo de refresco:</strong>
  <%= @a_serverconfiguration.refreshtime %>
</p>

<p>
  <strong>Tiempo de refresco en caso de error:</strong>
  <%= @a_serverconfiguration.refreshtime_error %>
</p>
