<div class="text-center">

<h2 style="margin-bottom: 25px;"><b>Seleccione Usuario</b></h2>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

<%= form_tag({controller: 'logs', action: 'ver_info'}, method: 'get') do %>

<div class="field">
	<%= label_tag :Usuario %><br>
	<% @usuarios = []
	Usuario.all.each do |u| 
		@usuarios.push([u.nombre+" "+u.apellidos, u.id])
	end
	%>
	<%= select_tag :usuario_id, options_for_select(@usuarios), class: 'form-control'%>
</div><br>

<div class="field">
	<%= label_tag :Inicio_periodo %><br>
	<%= datetime_local_field :f_ini, :f_ini ,class: 'form-control' %>
</div><br>

<div class="field">
	<%= label_tag :Fin_periodo %><br>
	<%= datetime_local_field :f_fin, :f_fin ,class: 'form-control' %>
</div><br>

<%= submit_tag "Buscar registros" ,class: 'btn btn-primary' %><br>

<% end %>

<br><%= link_to ' Volver ', '/logs' , class: 'btn btn-danger'%><br>
<br>

</div>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>

</div>

</div>