<div class="text-center">
<p id="notice"><%= notice %></p>

<h2 style="margin-bottom: 25px;"><b>Registro de Entradas y Salidas</b></h2>

<h3 style="margin-bottom: 25px;"><b>Entradas</b></h3>
<div class="table-responsive" style="margin-right: 15px; margin-left: 15px;">
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th class="encabezado success">Tiempo lectura</th>
      <th class="encabezado info">Tiempo registro</th>
      <th class="encabezado success">Equipo</th>
      <th class="encabezado info">Tarjeta</th>
      <th class="encabezado success">Usuario</th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td class="cuerpo"><%= log.tiempo_lectora.strftime("%F %T") %></td>
        <td class="cuerpo"><%= log.tiempo_registro.strftime("%F %T") %></td>
        <td class="cuerpo"><%= log.equipo.ip %></td>
        <td class="cuerpo"><%= log.card.codigo %></td>
        <td class="cuerpo"><%= log.usuario.nombre+' '+log.usuario.apellidos %></td>        
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<h3 style="margin-bottom: 25px;"><b>Salidas</b></h3>
<div class="table-responsive" style="margin-right: 15px; margin-left: 15px;">
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th class="encabezado success">Tiempo lectura</th>
      <th class="encabezado info">Tiempo registro</th>
      <th class="encabezado success">Equipo</th>
      <th class="encabezado info">Tarjeta</th>
      <th class="encabezado success">Usuario</th>
    </tr>
  </thead>

  <tbody>
    <% @logs_s.each do |log| %>
      <tr>
        <td class="cuerpo"><%= log.tiempo_lectora.strftime("%F %T") %></td>
        <td class="cuerpo"><%= log.tiempo_registro.strftime("%F %T") %></td>
        <td class="cuerpo"><%= log.equipo.ip %></td>
        <td class="cuerpo"><%= log.card.codigo %></td>
        <td class="cuerpo"><%= log.usuario.nombre+' '+log.usuario.apellidos %></td>        
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div style="margin-top: 25px;">
  <%= link_to "Ver información por usuario", '/buscar', {class: 'btn btn-primary'}%>
</div><br>
<div>
  <%= link_to "Volver a Inicio", root_url, {class: 'btn btn-default'}%>
</div><br>
<br>
</div>