<div class="text-center">

<h2 style="margin-bottom: 25px;"><b>Registros para el usuario<br><%= @usuario.nombre+" "+@usuario.apellidos %></b></h2>

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>

<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

<div class="table-responsive">
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th class="encabezado success">Hora Registro</th>
				<th class="encabezado info">Lectora</th>
				<th class="encabezado success">Tarjeta</th>
				<th class="encabezado info">Entrada/Salida</th>
			</tr>
		</thead>
		<tbody>
			<% @registros.each do |r| %>
				<tr>
					<td class="cuerpo"><%= r.tiempo_registro.strftime("%F %T") %></td>
					<td class="cuerpo"><%= r.equipo.ip %></td>
					<td class="cuerpo"><%= r.card.codigo %></td>
					<td class="cuerpo">
					<%= 
					if r.entrada 
						res = 'ENTRADA'
					else
						res = 'SALIDA'
					end
					%>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<% @registros.each do |r|
	if r.entrada
		@aux = r.tiempo_registro.to_time.to_i
	else
		if @aux != 0
			h = r.tiempo_registro.to_time.to_i - @aux
			res = h/3600.0
			#@horas.push([res.round(2),r.tiempo_registro.strftime("%F")])
			if @horas.length != 0
				fecha = r.tiempo_registro.strftime("%F")
				@nuevo = true
				@horas.each do |h|
					if(h.second.eql? fecha)
						h[0] += res.round(2)
						@nuevo = false
					end
				end
				if(@nuevo)
					@horas.push([res.round(2),r.tiempo_registro.strftime("%F")])
				end
			else
				@horas.push([res.round(2),r.tiempo_registro.strftime("%F")])
			end
			@acum += res
		end
	end
end 
if(@horas.length != 0)
	@media = @acum / @horas.length
end
%>

<h4><b>Total Horas Semanales</b></h4>
<%= r = @acum.round(2).divmod 1 
	hora = r.first
	min = ((r.second*100) * 60)/100
	res = hora.to_s+":"+min.to_i.to_s %><br>
<br>
<h4><b>Media Horas Diarias</b></h4>
<%= r = @media.round(2).divmod 1 
	hora = r.first
	min = ((r.second*100) * 60)/100
	res = hora.to_s+":"+min.to_i.to_s %><br>
<br>
<h4><b>Horas Por Día</b></h4>
<div class="table-responsive">
<table class="table table-condensed table-hover">
	<thead>
		<tr>
			<th class="encabezado success">Fecha</th>
			<th class="encabezado info">Horas</th>
		</tr>
	</thead>
	<tbody>
		<% @horas.each do |h| %>
		<tr>
			<td class="cuerpo"><%= h.second %></td>
			<td class="cuerpo"><%=r = h.first.round(2).divmod 1
				hora = r.first
				min = ((r.second*100) * 60)/100
				res = hora.to_s+":"+min.to_i.to_s %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>



<br><%= link_to ' Volver ', '/logs' , class: 'btn btn-danger'%><br>
<br>

</div>

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>

</div>

</div>