<%= form_for(@user) do |f| %>
	<div class="field">
		<%= f.label :email %><br />
    	<%= f.email_field :email, autofocus: true , class: "form-control"%>
	</div><br>
	<div class="field">
		<%= f.label :password , "Nueva Contraseña" %>
		<%= f.password_field :password, autocomplete: "off" , class: "form-control" %>
	</div><br>
	<div class="field">
		<%= f.label :password_confirmation , "Repita la Contraseña" %><br />
    	<%= f.password_field :password_confirmation, autocomplete: "off" , class: "form-control" %>
	</div><br>
	<div class="field">
      <%= f.label :administrador %><br>
      <div class="radio-inline">
      <%= f.radio_button :admin , 1 %> SÍ
      </div>
      <div class="radio-inline">
      <%= f.radio_button :admin , 0 %> NO
    </div>
	<br><br>
	<div class="actions">
		<%= f.submit 'Aceptar', class: 'btn btn-primary' %>
	</div>
	<br>
<% end %>