<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @email.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @email.password %>
</p>

<p>
  <strong>Smtp server:</strong>
  <%= @email.smtp_server %>
</p>

<p>
  <strong>Puerto:</strong>
  <%= @email.puerto %>
</p>

<p>
  <strong>Ssl:</strong>
  <%= @email.ssl %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
