<div class="text-center">
	<h2><b> <%= @usuario.email %> </b></h2>
	<br>
	<p>
		<strong>Número de Accesos:</strong>
		<%= @usuario.sign_in_count %>
	</p>

	<p>
		<strong>Último Acceso:</strong>
		<%= 
			c = @usuario.current_sign_in_at.to_datetime
			r = c.new_offset(1.0/24)
			r.strftime("%F %T")
		%>
	</p>
	
	<p>
		<strong>IP última conexión:</strong>
		<%= @usuario.current_sign_in_ip %>
	</p>

	<p>
		<strong>Creado:</strong>
		<%= 
			c = @usuario.created_at .to_datetime
			r = c.new_offset(1.0/24)
			r.strftime("%F %T")
		%>
	</p>

	<%= link_to "Volver", '/users', class: 'btn btn-danger' %>

</div>