<div class="text-center">

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

	<h2><b>Instrucciones para Reenvío de Desbloqueo</b></h2>

	<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true , class: 'form-control' %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Enviar de Nuevo" , class: 'btn btn-primary' %>
	  </div>
	<% end %>

	<%= render "devise/shared/links" %>

</div>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>

</div>